.ios,
.md {
    page-fake-popup {
        .scroll-content {
            background: none;
        }
        .content {
                background: #828282;
            color:white;
        }
        .fixed-content {
            background: none;
        }


        .popover-content{
            background:none;
        }

      
    }
}